SPRING_APPLICATION_NAME=demo
SPRING_PROFILES_ACTIVE=prod

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/YOUR-REALM
KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_REALM=YOUR-REALM
KEYCLOAK_CLIENT_ID=your-client-id

SPRING_DATASOURCE_URL=jdbc:postgresql://app_db:5432/your_db
SPRING_DATASOURCE_USERNAME=your_user
SPRING_DATASOURCE_PASSWORD=your_password

SPRING_JPA_DATABASE=postgresql
SPRING_JPA_HIBERNATE_DDL_AUTO=update

MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health,info,metrics,prometheus
MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS=always

SPRING_BATCH_JOB_ENABLED=false
SPRING_BATCH_JDBC_INITIALIZE_SCHEMA=always

RECEIPT_TOKEN_SECRET=replace-me